{#
  Displays the React Calendar.
  Available variables
   - default_view:
     Default view that will be displayed for the calendar.
     Possible values: month, week, @todo complete list.
   - data_source
     Bundles that are enabled to be displayed in the calendar.
     Contains the bundle_id, entity_type_id, date_field_name properties.
#}

<div id="react-app-container"
  data-default-view="{{ default_view }}"
  data-data-source="{{ data_source }}">
</div>
